.city-header {
  background-color: $main-color;
  color: white;
  padding-top: 30px;
  vertical-align: bottom;

  h1, h2, h3, h4 { margin: 0; }

  h3, h4 { text-align: right; }

  h3 { margin-top: 16px; }

  h1, h2, h3 { font-weight: 400; }

  h4 {
    font-weight: 500;
    color: rgba(white, .6);
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-size: .8;
  }

  &__name h4 {
    text-align: left;
  }

  &__subtitle {
    margin-top: 25px;
    
    background-color: rgba(black, .2);
    text-align: center;
    
    h2 { 
      font-weight: 400;
      padding: 8px 0;
      position: relative;
    }

    .back-to-ranking {
      position: absolute;
      left: -40px;
      top: 0;
      vertical-align: 5px;
    }
  }
}

.city-page {
  &__heading {
    padding: 20px 0;

    h2, h3 {
      margin: 0;
      line-height: 1.4;
    }

    h2 {
      text-align: center;
      font-weight: 400;
      color: $main-color;
      margin-bottom: 20px;
      font-size: 2.5rem;

    }

    h3 {
      text-align: right;
      font-weight: 400;
      color: rgba(black, .4);
      font-size: 1.5rem;
      padding-left: 30px;
    }

    &--centered {
      h3 { 
        text-align: center; 
        margin-bottom: 30px;
      }
    }

    p {
      margin: 5px 0;
    }
  }
}