.landing-section {
  h1 {
    color: $main-color;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3.1rem;
    text-align: center;
    margin: 0;
  }

  &__highlight {
    font-size: 2.1rem;
    line-height: 1.4;
    font-weight: 100;
    color: rgba(black, .6);
  }

  p {
    strong {
      font-weight: 500;
    }
  }
}

.main-search {
  display: flex;
  margin: 30px 0 30px;
  position: relative;

  input {
    padding: 15px; 
    vertical-align: top;
    font-size: 1.5rem;
    line-height: 1;
    background-color: rgba(black, .1);
    color: rgba(black, .5);
    border: 0;
    outline: 0;

    &:focus {
      outline: 1px solid $main-color;
    }
  }

  input[type='text'] {
    flex: 1;
    padding: 15px 20px;
  }

  .main-search__icon {
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    padding: 13px;
    color: rgba(black, .2);
  }
}

.main-search--ranking {
  margin: 20px 0 80px;
  position: relative;

  input { 
    padding: 8px 15px !important; 
    font-size: 1.3rem;
  }
  
  &:after {
    @extend .u-material-icons;
    content: 'search';
    color: rgba(black, .2);
    position: absolute;
    right: 0;
    padding: 7px 10px;
  }

  &:hover:after {
    color: rgba(black, .6);
  }

}

.timeline-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}

.timeline-boxes {
  display: flex;
  padding: 0;
  position: relative;
  overflow: hidden;


  &:before {
    content: "";
    border-bottom: 4px solid rgba(black, .1);
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;

  }

  &:after {
    content: "";
    border-bottom: 4px solid $main-color;
    position: absolute;
    top: 30px;
    left: 0;
    width: 16.5%;
    transition: all .2s ease-in-out;
  }

  &__item {
    flex: 1;
    list-style-type: none;
    color: rgba(black, .2);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    padding-bottom: 0;
    position: relative;
    transition: all .2s ease-in-out;

    strong { 
      font-weight: 500; 
      color: rgba($main-color, .2);
    }

    &:hover,
    &--latest,
    &--active-0 li { 
      color: rgba(black, .7); 
      padding-top: 30px;
      padding-bottom: 30px;

      strong { 
        color: rgba($main-color, 1);
      }
    }

    &:before {
      content: attr(data-date);
      font-size: 1.2rem;
      font-weight: 500;
      color: $main-color;
      position: absolute;
      top: 0;
      padding: 0 10px;
      margin-left: -10px;


    }
  }

  &--active-0:after { left: 0; }
  &--active-1:after { left: calc(16.5% + 20px); }
  &--active-2:after { left: calc(33% + 20px); }
  &--active-3:after { left: calc(49.5% + 20px); }
  &--active-4:after { left: calc(66% + 20px); }
  &--active-5:after { left: calc(83.3% + 20px); }
  // &--active-5:after { left: calc(99% + 20px); }
}