.ranking-page {
  
}

.ranking {
  width: 100%;

  tbody tr {
    border-bottom: 1px solid rgba(black, .06);
    &:hover {
      box-shadow: 0 0 8px rgba(black, .2);
      transform: scale(1.1);
      transition: all .3s ease;
      background-color: white;
    }
  }

  tr.cmo-true {
    td { background-color: rgba($green, .03); }
    &:nth-child(even) td { background-color: rgba($green, .05); }
    }

  tr.cmo-false {
    td { background-color: rgba($red, .03); }
    &:nth-child(even) td { background-color: rgba($red, .05); }
  }

  th {
    font-weight: 500;
    text-transform: uppercase;
    background-color: $main-color;
    color: white;
  }

  th { padding: 10px; }
  td { padding: 10px 30px 10px 10px; }

  .ranking__city {
    text-align: left;
    width: 190px;
    font-weight: 400;
  }
  .ranking__position {
    text-align: right;
    font-weight: 400;
    width: 55px;
  }
  .ranking__cmo {
    text-align: center;
    width: 85px; 

    .cmo-true:before {
      content: 'check';
      color: $green;
    }

    .cmo-false:before {
      content: 'close';
      color: $red;
    }
  }

  @include breakpoint($touch) {
    .ranking__cmo,
    .ranking__score { min-width: 100px !important; }
    .ranking__city { width: 100% !important; }
    
    .ranking__governance,
    .ranking__gestion,
    .ranking__perenity { display: none !important; }
  }

  .ranking__governance,
  .ranking__gestion,
  .ranking__perenity,
  .ranking__score { text-align: center; }

  th.ranking__governance,
  th.ranking__gestion,
  th.ranking__perenity,
  th.ranking__score { color: white; }
  
  .ranking__spacing {
    // width: 20%;
  }

  .ranking__governance {
    width: 165px;
  }
  .ranking__gestion {
    width: 115px;
  }
  .ranking__perenity {
    width: 125px;
  }
  .ranking__score {
    width: 100px;
    text-align: right;
    font-weight: 400;
    color: rgba(black, .8);
  }

  td.ranking__score { padding-right: 50px;}

  .sort {
    @extend .u-material-icons;
    opacity: .4;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    line-height: .8;
    &:hover { opacity: 1; }

    &:before, &.asc { content: 'keyboard_arrow_down'; }
    &.desc:before { content: 'keyboard_arrow_up'; }
    &.desc, &.asc { opacity: 1; }
  }
}
