.ranking-page {
}

.ranking {
  width: 100%;

  &--collapsed {
    tbody tr:nth-child(n+11) { display: none; }
  }

  tbody tr {
    border-bottom: 1px solid rgba(black, .06);
    &:hover {
      box-shadow: 0 0 8px rgba(black, .2);
      background-color: white;
    }
  }

  tr.cmo-true {
    td { background-color: rgba($green, .05); }
    &:nth-child(even) td { background-color: rgba($green, .08); }
    }

  tr.cmo-false {
    td { background-color: rgba($red, .05); }
    &:nth-child(even) td { background-color: rgba($red, .08); }
  }

  th {
    font-weight: 400;
    text-transform: uppercase;
    background-color: $main-color;
    color: white;
    cursor: pointer;
  }

  th { padding: 10px; }
  td { padding: 10px 30px 10px 10px; }

  .ranking__city {
    text-align: left;
    width: 290px;
  }
  .ranking__position {
    text-align: right;
    width: 75px;
  }
  .ranking__cmo {
    text-align: center;
    width: 80px; 

    .cmo-true:before {
      content: 'check';
      color: $green;
    }

    .cmo-false:before {
      content: 'close';
      color: $red;
    }
  }

  @include breakpoint($touch) {
    .ranking__cmo,
    .ranking__score { min-width: 95px !important; }
    .ranking__city { width: 100% !important; }
    
    .ranking__governance,
    .ranking__gestion,
    .ranking__perenity { display: none !important; }
  }

  .ranking__governance,
  .ranking__gestion,
  .ranking__perenity,
  .ranking__score { text-align: center; }

  th.ranking__governance,
  th.ranking__gestion,
  th.ranking__perenity,
  th.ranking__score { color: white; }
  
  .ranking__spacing {
    // width: 20%;
  }

  .ranking__governance {
    width: 165px;
  }
  .ranking__gestion {
    width: 115px;
  }
  .ranking__perenity {
    width: 125px;
  }
  .ranking__score {
    width: 100px;
    text-align: right;
    font-weight: 400;
    color: rgba(black, .8);
  }

  td.ranking__score { padding-right: 50px;}
}

.show-full-ranking {
  background-color: $main-color;
  text-align: center;
  color: white;
  font-weight: 500;
  margin: 20px;
  cursor: pointer;

  &:hover {
    background-color: darken($main-color, 3) !important;
  }
}

.sort-button {
  @extend .u-material-icons;
  opacity: .4;
  display: inline-block;
  vertical-align: bottom;
  line-height: .8;
  .asc &,
  .desc &,
  &:hover { opacity: 1; }
  &:before { content: 'keyboard_arrow_down'; }

}

.desc .sort-button:before { content: 'keyboard_arrow_down'; }
.asc .sort-button:before { content: 'keyboard_arrow_up'; }
