{% if page.fields.dgna_cmo_1 %}
<!-- ============= CMO 1 ================== -->

<section class="cmo-explation js-cmo-explanation js-cmo-1 cmo-explation--true">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Fullfilled</h3>
      <h1>Budget Approval</h1>
      <h2>Adoption du budget provisionnel par le conseil municipal</h2>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
  </div>  
</div>
</section>

{% else %}

<section class="cmo-explation js-cmo-explanation js-cmo-1 cmo-explation--false">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Budget Approval</h1>
      <h2>Adoption du budget provisionnel par le conseil municipal</h2>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
  </div>  
</div>
</section>

{% endif %}

{% if page.fields.dgna_cmo_2 %}
<!-- ============== CMO 2 ================== -->

<section class="cmo-explation js-cmo-explanation js-cmo-2 cmo-explation--true">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-22 small-22 column">
      <h3>Condition Fullfilled</h3>
      <h1>Financial Authorization</h1>
      <h2>Communicate the financial data of the previous year to the responsible authority</h2>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
  </div>  
</div>
</section>

{% else %}

<section class="cmo-explation js-cmo-explanation js-cmo-2 cmo-explation--false">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Financial Authorization</h1>
      <h2>Communicate the financial data of the previous year to the responsible authority</h2>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
  </div>  
</div>
</section>
{% endif %}

{% if page.fields.dgna_cmo_3 %}
<!-- =============== CMO 3 ================== -->

 <section class="cmo-explation js-cmo-explanation js-cmo-3 cmo-explation--true">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-22 small-22 column">
      <h3>Condition Fullfilled</h3>
      <h1>Annual Budget Approval</h1>
      <h2>Approve of the Yearly Investment Program by the collectivity council through the participatory process.</h2>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
  </div>  
</div>
</section>

{% else %}

<section class="cmo-explation js-cmo-explanation js-cmo-3 cmo-explation--false">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Annual Budget Approval</h1>
      <h2>Approve of the Yearly Investment Program by the collectivity council through the participatory process.</h2>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
  </div>  
</div>
</section>
{% endif %}

{% if page.fields.dgna_cmo_4 %}
<!-- =============== CMO 4 ================== -->

 <section class="cmo-explation js-cmo-explanation js-cmo-4 cmo-explation--true">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-22 small-22 column">
      <h3>Condition Fullfilled</h3>
      <h1>Publication</h1>
      <h2>Publish the "Provisional Plan of Public Contracts" on the national site of Public Contracts.</h2>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
  </div>  
</div>
</section>

{% else %}

<section class="cmo-explation js-cmo-explanation js-cmo-4 cmo-explation--false">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Publication</h1>
      <h2>Publish the "Provisional Plan of Public Contracts" on the national site of Public Contracts.</h2>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
  </div>  
</div>
</section>
{% endif %}

{% if page.fields.dgna_cmo_5 %}
<!-- =============== CMO 5 ==================  -->
 <section class="cmo-explation js-cmo-explanation js-cmo-5 cmo-explation--true">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-22 small-22 column">
      <h3>Condition Fullfilled</h3>
      <h1>Final Approval</h1>
      <h2>Approve the Responsibility Agreement between the collectivity and the state on the subvention benefits.</h2>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
  </div>  
</div>
</section>

{% else %}

<section class="cmo-explation js-cmo-explanation js-cmo-5 cmo-explation--false">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Final Approval</h1>
      <h2>Approve the Responsibility Agreement between the collectivity and the state on the subvention benefits.</h2>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
    <div class="large-4 medium-6 small-12 column">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque doloribus amet tempora distinctio, ipsam porro dignissimos alias quos perspiciatis cupiditate quaerat in iure nobis, voluptas consequatur eveniet, at voluptate dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam ratione veritatis atque tempore quidem nam deserunt dicta, aspernatur ullam laudantium sint, recusandae quaerat dolore et, itaque dignissimos nesciunt alias praesentium?</p>
    </div>
  </div>  
</div>
</section>
{% endif %}