{% if page.fields.dgna_cmo_1 %}
<!-- ============= CMO 1 ================== -->

<section class="cmo-explation js-cmo-explanation js-cmo-1 cmo-explation--true cmo-explation--short">
  <div class="content-section">
  <div class="row">
    <div class="large-7 medium-12 small-12 column">
      <h3>Condition Fullfilled</h3>
      <h1>Adoption du budget provisionnel par le conseil municipal</h1>
    </div>
    <div class="large-5 medium-6 small-12 column">
      <h3>&nbsp;</h3>
      <p>Adoption du budget prévisionnel pour l'année à venir par le Conseil Municipal au plus tard le 31 décembre de l’année en cours</p>
    </div>
  </div>  
</div>
</section>

{% else %}

<section class="cmo-explation js-cmo-explanation js-cmo-1 cmo-explation--false cmo-explation--short">
  <div class="content-section">
  <div class="row">
    <div class="large-7 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Adoption du budget provisionnel par le conseil municipal</h1>
    </div>
    <div class="large-5 medium-6 small-12 column">
      <h3>&nbsp;</h3>
      <p>Adoption du budget prévisionnel pour l'année à venir par le Conseil Municipal au plus tard le 31 décembre de l’année en cours</p>
    </div>
  </div>  
</div>
</section>

{% endif %}

{% if page.fields.dgna_cmo_2 %}
<!-- ============== CMO 2 ================== -->

<section class="cmo-explation js-cmo-explanation js-cmo-2 cmo-explation--true cmo-explation--short">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Fullfilled</h3>
      <h1>Envoi des comptes financiers</h1>
    </div>
    <div class="large-8 medium-6 small-12 column">
      <h3>&nbsp;</h3>
      <p>Envoi des comptes financiers de l'année qui précède de deux ans l'année de bénéfice de la subvention, à l'autorité de tutelle, au plus tard le 15 juin de l'année qui la suit et ce après leurs validations par le conseil de la commune</p>
    </div>
  </div>  
</div>
</section>

{% else %}

<section class="cmo-explation js-cmo-explanation js-cmo-2 cmo-explation--false cmo-explation--short">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Envoi des comptes financiers</h1>
    </div>
    <div class="large-8 medium-6 small-12 column">
      <h3>&nbsp;</h3>
      <p>Envoi des comptes financiers de l'année qui précède de deux ans l'année de bénéfice de la subvention, à l'autorité de tutelle, au plus tard le 15 juin de l'année qui la suit et ce après leurs validations par le conseil de la commune</p>
    </div>
  </div>  
</div>
</section>
{% endif %}

{% if page.fields.dgna_cmo_3 %}
<!-- =============== CMO 3 ================== -->

 <section class="cmo-explation js-cmo-explanation js-cmo-3 cmo-explation--true cmo-explation--short">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Fullfilled</h3>
      <h1>Approbation participative du PAI</h1>
    </div>
    <div class="large-8 medium-6 small-12 column">
      <h3>&nbsp;</h3>
      <p>Approbation du Plan Annuel d'Investissement (PAI) municipal pour l'année à venir par le Conseil Municipal et produit selon des procédures participatives satisfaisantes avant le 31 décembre de l’année en cours, cette démarche se tient entre les mois d’octobre et de décembre</p>
    </div>
  </div>  
</div>
</section>

{% else %}

<section class="cmo-explation js-cmo-explanation js-cmo-3 cmo-explation--false cmo-explation--short">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Approbation participative du PAI</h1>
    </div>
    <div class="large-8 medium-6 small-12 column">
      <h3>&nbsp;</h3>
      <p>Approbation du Plan Annuel d'Investissement (PAI) municipal pour l'année à venir par le Conseil Municipal et produit selon des procédures participatives satisfaisantes avant le 31 décembre de l’année en cours, cette démarche se tient entre les mois d’octobre et de décembre</p>
    </div>
  </div>  
</div>
</section>
{% endif %}

{% if page.fields.dgna_cmo_4 %}
<!-- =============== CMO 4 ================== -->

 <section class="cmo-explation js-cmo-explanation js-cmo-4 cmo-explation--true cmo-explation--short">
  <div class="content-section">
  <div class="row">
    <div class="large-5 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Mise en ligne du plan de passation de marchés</h1>
    </div>
    <div class="large-7 medium-6 small-12 column">
      <h3>&nbsp;</h3>
      <p>Mise en ligne du plan prévisionnel de passation des marchés de la Commune pour l'année à venir sur le site de l’Observatoire National des Marchés Publics au plus tard au 15 janvier de l’année en cours</p>
    </div>
  </div>  
</div>
</section>

{% else %}

<section class="cmo-explation js-cmo-explanation js-cmo-4 cmo-explation--false cmo-explation--short">
  <div class="content-section">
  <div class="row">
    <div class="large-5 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Mise en ligne du plan de passation de marchés</h1>
    </div>
    <div class="large-7 medium-6 small-12 column">
      <h3>&nbsp;</h3>
      <p>Mise en ligne du plan prévisionnel de passation des marchés de la Commune pour l'année à venir sur le site de l’Observatoire National des Marchés Publics au plus tard au 15 janvier de l’année en cours</p>
    </div>
  </div>  
</div>
</section>
{% endif %}

{% if page.fields.dgna_cmo_5 %}
<!-- =============== CMO 5 ==================  -->
 <section class="cmo-explation js-cmo-explanation js-cmo-5 cmo-explation--true cmo-explation--short">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Fullfilled</h3>
      <h1>Approbation de la convention d'octroi</h1>
    </div>
    <div class="large-8 medium-6 small-12 column">
      <h3>&nbsp;</h3>
      <p>Approbation par le Conseil Municipal avant le 31 décembre de l'année en cours de la convention d’octroi de la subvention en objet avec le Gouvernement représenté par la CPSCL ; cette convention définit les rôles et responsabilités de chaque partie.</p>
    </div>
  </div>  
</div>
</section>

{% else %}

<section class="cmo-explation js-cmo-explanation js-cmo-5 cmo-explation--false cmo-explation--short">
  <div class="content-section">
  <div class="row">
    <div class="large-4 medium-12 small-12 column">
      <h3>Condition Not Fullfilled</h3>
      <h1>Approbation de la convention d'octroi</h1>
    </div>
    <div class="large-8 medium-6 small-12 column">
      <h3>&nbsp;</h3>
      <p>Approbation par le Conseil Municipal avant le 31 décembre de l'année en cours de la convention d’octroi de la subvention en objet avec le Gouvernement représenté par la CPSCL ; cette convention définit les rôles et responsabilités de chaque partie.</p>
    </div>
  </div>  
</div>
</section>
{% endif %}