<footer class="main-footer">
  <div class="main-footer__branding">
    <div class="main-footer__logo">
      <img src="images/site-logo-white.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="large-3 column">
      <h3>Les Communes</h3>
      <nav class="footer-menu">
        <a href="#">Carte des communes</a>
        <a href="#">Le processus d'Evaluation</a>
        <a href="#">Les Données Financières Globales</a>
        <a href="#">Espace des collectivités locales</a>
      </nav>
    </div>
    <div class="large-3 column">
      <h3>More Information</h3>
      <nav class="footer-menu">
        <a href="#">E-Reclamation</a>
        <a href="#">Contact</a>
        <a href="#">Liens utiles</a>
      </nav>
    </div>
    <div class="large-3 column">
      <h3>Information Approfondies</h3>
      <nav class="footer-menu">
        <a href="#">Financement</a>
        <a href="#">Investissement</a>
        <a href="#">Renforcement des capacités</a>
        <a href="#">Cadre Légal</a>
      </nav>
    </div>
    <div class="large-3 column">
      <h3>Information Approfondies</h3>
      <nav class="footer-menu">
        <a href="#">Financement</a>
        <a href="#">Investissement</a>
        <a href="#">Renforcement des capacités</a>
        <a href="#">Cadre Légal</a>
      </nav>
    </div>
  </div>
</footer>