<footer class="main-footer">
  <div class="main-footer__branding">
    <div class="main-footer__logo">
      <img src="images/site-logo-white.png" alt="Portail des Collectivités Locale">
    </div>
  </div>
  <div class="row">
    <div class="large-6 column">
      <h3>Les Communes</h3>
      <nav class="footer-menu">
        <a href="#">Cadre Juridique</a>
        <a href="#">Les Transferts de l'Etat aux Communes </a>
        <a href="#">e-Réclamation </a>
        <a href="#">Espace de collectivites locales</a>
        <a href="#">Carte des commune</a>
      </nav>
    </div>
    <div class="large-6 column">
      <h3>Plus d'informations</h3>
      <nav class="footer-menu">
        <a href="#">Contact</a>
        <a href="#">Liens utiles</a>
        <a href="#">Ministere des Affaires Locales et de l’Environmen</a>
      </nav>
    </div>
  </div>
</footer>


