<footer class="main-footer">
  <div class="main-footer__branding">
    <div class="main-footer__logo">
      <img src="images/site-logo-white.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="large-3 column">
      <h3>Les Communes</h3>
      <nav class="footer-menu">
        <a href="#">Cadre Juridique</a>
        <a href="#">E-Reclamatoin</a>
        <a href="#">Espace de collectivites locales</a>
      </nav>
    </div>
    <div class="large-3 column">
      <h3>More Information</h3>
      <nav class="footer-menu">
        <a href="#">Contact</a>
        <a href="#">Liens</a>
        <a href="#">Carte des commune</a>
      </nav>
    </div>
    <div class="large-6 column">
      <h3>Information Approfondies</h3>
      <nav class="footer-menu">
        <a href="#">Ministere des Affaires Locales et de l’Environmen</a>
      </nav>
    </div>
  </div>
</footer>