<header class="main-header">
  <section class="main-header__branding">
    <div class="row">
      <div class="large-8 column">
        <h1><img src="./images/site-logo-white.png" alt=""> Portail des Collectivites Locales | <small>Ministère des Affaires Locales</small></h1>
      </div>
      <div class="large-4 column"><h4>République Tunisienne</h4></div>
      
    </div>
  </section>
  <section class="main-header__menu menu">
    <div class="row align-center">
      <div class="large-10 column">
        <nav>
          <a class="menu__item" href="./">Home</a><!--
       --><a class="menu__item" href="./ranking.html">Ranking</a><!--
       --><a class="menu__item" href="#">Medium length link</a>  
        </nav>
      </div>
      <div class="large-2 column lang-select">
        <a class="active" href="#">FR</a><a href="#">AR</a>
      </div>
    </div>
    <nav>
      
    </nav>
  </section>
</header>