<header class="main-header">
  <section class="main-header__branding">
    <div class="row">
      <div class="large-8 column">
        <h1>
          <a href="{{site.url}}"><img src="./images/site-logo-white.png" alt="">Portail des Collectivités Locale</a>
          <small>Ministère des Affaires Locales et de l'Environnement</small>
        </h1>
      </div>
      <div class="large-4 column"><h4>République Tunisienne</h4></div>
      
    </div>
  </section>
  <section class="main-header__menu menu">
    <div class="row align-center">
      <div class="large-8 column">
        <nav>
          <a class="menu__item" href="#">Plans d'investissements</a><!--
       --><a class="menu__item" href="#">Renforcement de capacités</a><!--
       --><a class="menu__item" href="#">Vidéos</a>  
        </nav>
      </div>
      <div class="large-2 column lang-select">
        <a class="active" href="#">FR</a><a href="#">AR</a>
      </div>
    </div>
    <nav>
      
    </nav>
  </section>
</header>




