---
layout: regular
---
<article id="city-list">
  <section class="content-section landing-section">
    <div class="row align-center">
      <div class="large-10 column">
        <p class="landing-section__highlight">The program of financing and evaluation of municipalities offers a budget for cities which fill the Minimum Obligatory Conditions.</p>
      </div>
    </div>
    <div class="row align-center">
      <div class="large-10 column">
        <form action="#" class="main-search main-search--alt">
          <input class="search" type="text" placeholder="Find your City"><span class="main-search__icon material-icons">search</span>
        </form>
      </div>
    </div>
    <div class="row align-center">
      <div class="large-5 column">
        <p>The program of financing and evaluation of municipalities offers a budget for cities which fill the Minimum Obligatory Conditions. It also evaluates each city administration in terms of performance on Governance, Administration and Continuity. Here you can check the performance of your city and compare it with other ones.</p>
      </div>
      <div class="large-5 column">
        <p>The program exists in 2 parts: the first defines 5 Minimum Obligatory Conditions that, once met, give an additional budget to the city. The second part is a global evaluation of procedures that have taken place that increase participation, transparency and continuity of policies. </p>
      </div>
    </div>
  </section>

  <section class="ranking-page">
    <div class="row align-center expanded">
      <div class="large-12 column row">
        <table class="ranking ranking--collapsed">
          <thead>
            <th class="ranking__spacing"></th>
            <th data-sort="list-position" class="sort ranking__position asc"># <span class="sort-button"></span></th>
            <th data-sort="list-name" class="sort ranking__city">City <span class="sort-button"></span></th>
            <th data-sort="list-cmo" class="sort ranking__cmo">CMO <span class="sort-button"></span></th>
            <th data-sort="list-governance" class="sort ranking__governance">Gouvernance <span class="sort-button"></span></th>
            <th data-sort="list-gestion" class="sort ranking__gestion">Gestion <span class="sort-button"></span></th>
            <th data-sort="list-perenity" class="sort ranking__perenity">Perenity <span class="sort-button"></span></th>
            <th data-sort="list-score" class="sort ranking__score">Score <span class="sort-button"></span></th>
            <th class="ranking__spacing"></th>
          </thead>
          <tbody class="list">
          {% assign cities = site.data.communes %}
          {% for i in cities %}
            {% if i.fields.dgna_ep_accomplissement %}
            <tr class="cmo-{{ i.fields.dgna_cmo_accomplissement }}">
              <td class="ranking__spacing">{{i.index}}</td>
              <td class="ranking__position list-position">{{ i.id }}</td>
              <td class="ranking__city list-name"><a href="./{{i.name | slugify}}.html">{{i.name | capitalize}}</a></td>
              <td class="ranking__cmo list-cmo"><i class="material-icons cmo-{{ i.fields.dgna_cmo_accomplissement }}"></i></td>
              <td class="ranking__governance list-governance">{{i.fields.dgna_ep_gouvernance}}</td>
              <td class="ranking__gestion list-gestion">{{i.fields.dgna_ep_gestion}}</td>
              <td class="ranking__perenity list-perenity">{{i.fields.dgna_ep_perennite}}</td>
              <td class="ranking__score list-score">{{i.fields.dgna_ep_accomplissement}}</td>
              <td class="ranking__spacing"></td>
            </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row align-center">
      <div class="large-11 column"><div class="button show-full-ranking js-show-full-ranking">show all</div></div>
    </div>
      
    </div>
  </section>


</article>
